
div.menuAlert{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 80%;
    background-color: rgba(255, 0, 0, 0.705);
    color: #ffffff;
    font-weight: 600;
    margin: auto;
  }