@use "colors";

div.menuAlert{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 80%;
    background-color: colors.$error;
    color: #ffffff;
    font-weight: 600;
    margin: auto;
  }