@use "colors";

.cart {
  background-color: colors.$pink;
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;

  > article {
    background-color: white;
    width:clamp(300px, 900px, 900px);
    margin: auto;
    
    >h1{
      background-color: colors.$dark;
      color: colors.$red;
      padding: 30px 40px;
    }
    
    >section{
      padding: 2rem;

      >.noItemsMsg{
        color: colors.$red;
      }
  
      > article {
        padding: 2rem;
        > div {
          display: flex;
          justify-content: space-between;
          margin: 1rem 0;
        }
  
        > button {
          background-color: colors.$red;
          color: white;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          text-align: center;
          margin-top: 2rem;
          border:none;
          outLine:none;
          display:block;
          margin:auto;
        }
      }
    }
  }
}

.cartItem {
  background-color: rgb(246, 246, 246);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;

  > div {
    display: flex;
    align-items: center;

    > h4 {
      font-weight: 200;
      letter-spacing: 2px;
      margin: 0;
    }

    > img {
      height: 50px;
    }

    >h5{
      margin: 0 10px;
    }

    > input {
      text-align: center;
      width: 2.5rem;
      height: 2rem;
      padding: 0.5rem;
      border: none;
      margin: 0.25rem;
      outline: none;
      border-radius: 5px;
      color: colors.$red;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0%;
      }
    }

    > button {
      cursor: pointer;
      padding: 0.5rem;
      background-color: colors.$dark;
      color: white;
      border-radius: 5px;
      border:none;
      outLine:none;
      display:block;
      margin:auto;
    }
  }
}

@media screen and (max-width: 700px) {
  .cart {

    > article {
      
      >h1{
        font-size: 24px;
      }
      >section{
        > article {
          > div {
            >h4{
              font-size: 16px;
            }
            >p{
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .cartItem {

    > div {

      > h4 {
        font-size: 18px;
      }
      
      >h5{
        font-size: 16px;
      }
    }
  }

}
