$red: rgb(156, 0, 60);
$red-500: rgb(156, 0, 60,0.5);
$redDark: rgba(126, 0, 48);
$redDark-500: rgb(126, 0, 48, 0.5);
$dark: rgb(33, 33, 33);
$lightDark: rgba(33, 33, 33, 0.711);
$pink: rgb(255, 239, 239);
$white-500:rgba(255, 255, 255, 0.475);