//*style colors
$red: rgb(156, 0, 60);
$red-500: rgb(156, 0, 60,0.5);
$redDark: rgb(126, 0, 48);
$redDark-500: rgb(126, 0, 48, 0.5);
$green: rgb(13, 180, 111);
$greenDark: rgb(13, 150, 93);
$pink: rgb(255, 239, 239);
$white-500:rgba(255, 255, 255, 0.475);
$error: rgba(255, 0, 0, 0.705);