@import "colors";

.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background-image: url("../assets/images/gradientBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  column-gap: 100px;

  > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    width: 500px;
    min-height: 500px;

    > h2 {
      padding-left: 10px;
      padding-right: 10px;
      text-shadow: 2px 1px $pink, -3px 1px $red;
      font-size: 2.2rem;
      text-transform: uppercase;
      font-family: "Roboto";
      margin: 2rem 0;
      color:$pink;
    }

    > input,
    > textarea,
    > button {
      padding: 1rem;
      outline: none;
      border: 1px solid rgb(202, 202, 202);
      margin: 0.5rem 0px;
      width: 100%;
      border-radius: 20px;
    }

    > button {
      background-color: $red;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 1rem;

      &:hover {
        background-color: $redDark;
      }
    }
  }

  .formBorder {
    width: 200px;
    height: 80%;
    border-radius: 0 200px 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    >img {
      transform: scale(1.2);
      filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.566));
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column-reverse;
    > form {
      width: 100%;
      height: 100%;
    }
  }
}
