@use "colors";

footer {
  min-height: 300px;
  background-color: var(--primary);
  padding: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: var(--invert);
  align-items: center;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;

  >aside.side1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >h2 {
      color: colors.$red;
      font-family: fantasy;
      font-weight: 400;
      font-size: 2rem;
      text-transform: capitalize;
    }
  
    >p,
    >strong {
      margin: 1rem;
    }
  }

  >aside.side2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    >h3 {
      font-size: 1.1rem;
      text-transform: capitalize;
    }

    >a {
      width: 35px;
      height: 40px;
      overflow: hidden;
      margin: 0.5rem;
      font-size: 2rem;
      color: var(--invert);
      &:hover {
        color: colors.$red;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
    text-align: center;

    >aside.side1{
      align-items: center;

      >h2 {
        text-align: center;
      }
    
      >p,
      >strong {
        margin: 0;
      }
    }
  }
}