@use "colors";

.founder {
  overflow-x: hidden;
  width: 100%;
  padding: 15rem 0 15rem 0;
  background: linear-gradient(180deg,colors.$white-500 0%, colors.$red-500 100%), url('../assets/images/founderBackground.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -30px;
  z-index: -1;

  > article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50%;
    text-align: center;
    margin: auto;

    > img {
      border-radius: 100%;
    }

    > h3 {
      font-size: 1.3rem;
      padding: 2rem 0 1rem 0;
    }
    > p {
      letter-spacing: 3px;
      font-size: 0.8rem;
      font-family: cursive;
      line-height: 200%;
      max-width: 530px;
    }
  }
}
