@use "colors";

nav {
  height: 5rem;
  padding: 0px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
  background-color: white;
  border-radius: 0 0 20px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;

  >.navTabs{
    column-gap: 40px;
  }
  > div {
    display: flex;
    align-items: center;

    > svg {
      color: colors.$red;
      font-size: 3rem;
    }
    
    .active{
      color: colors.$red;
    }

    > a {
      text-transform: capitalize;
      color: colors.$dark;
      transition: color 0.3s;

      &:hover {
        color: colors.$lightDark;
      }

      > svg {
        color: colors.$red;
        transition: inherit;
        font-size: 1.5rem;
      
        &:hover {
          color: colors.$lightDark;
        }
      }
    }

    .cartItemsCount {
      margin-left: 5px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      background-color: #f7f7f7;
      color: maroon;
      border-radius: 50%;
    }

    > select{
      border: none;
      outline: none;
      text-transform: uppercase;
      border-radius: 5px;
    }
  }

  .navMenuButton{
    font-size: 25px;
    cursor: pointer;
  }
}