@import "colors";

nav {
  height: 5rem;
  padding: 0px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
  background-color: white;

  > div {
    display: flex;
    align-items: center;

    > svg {
      color: $red;
      font-size: 3rem;
    }
    
    .active{
      color: $red;
    }

    > a {
      text-transform: capitalize;
      margin: 0 2rem;
      color: $dark;
      transition: color 0.3s;

      &:hover {
        color: $lightDark;
      }

      > svg {
        color: $red;
        transition: inherit;
        font-size: 1.5rem;
        &:hover {
          color: $lightDark;
        }
      }
    }

    .cartItemsCount {
      margin-left: 5px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      background-color: #f7f7f7;
      color: maroon;
      border-radius: 50%;
    }

    > select{
      border: none;
      outline: none;
      text-transform: uppercase;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 1rem;
    > div > a {
      margin: 0 0.5rem;
    }
  }
}
