@use "colors";

.home {
  height: 1080px;
  overflow-x: hidden;
  background-image: url("../assets/images/homeBackground.jpg");
  // background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: 1s;

  > article {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 20rem;
    color : #ffffff;
    
    > h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }
    
    > p {
      font-size: 1.2rem;
    }
  }

  > a {
    display: block;
    margin: 2rem 8rem;
    width: 10rem;
    background-color: colors.$red;
    color: white;
    text-align: center;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      background-color: colors.$redDark;
    }
  }
}

@media screen and (max-width: 700px) {
  .home {
    height: 75vh;
    background-position: -200px top;
    > article {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 30vh;
      > h1 {
        text-align: center;
      }

      > p {
        text-align: center;
      }
    }

    > a {
      margin: auto;
    }
  }
}

@media screen and (max-height: 640px) {
  .home {

    > a {
      display: none;
    }
  }
}
