@use "colors";

.menuContainer {
  width: 100%;
  background-color: white;
  padding: 4rem;
  border-radius: 30px;
  margin-top: -30px;
  box-shadow: 1px 1px 20px #00000044;
  position: relative;
  z-index: 1;
  overflow: hidden;

  > h1 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }

  > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.menuCard {
  margin: 20px;
  min-width: 500px;
  width: 30%;
  border-radius: 20px;
  // padding-top: 4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    height: 100%;
    // width: 100%;
    // object-fit: contain;
  }

  > h5 {
    font-size: 1.8rem;
  }
  > p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 0;
  }

  > button {
    background-color: colors.$red;
    color: white;
    border: none;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: colors.$redDark;
    }
  }
  
}

@media screen and (max-width: 700px) {
  .menuContainer{
    
    padding: 2rem;
    
    > div {
      flex-direction: column;
    }

    .menuCard {
      min-width: 100%;
      margin: 0rem 0;
      padding: 2rem 0 2rem 0;
    }
  }
}


