@use "colors";

.menuContainer {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--primary);
  padding: 4rem;
  border-radius: 30px;
  margin-top: -30px;
  box-shadow: 1px 1px 20px #00000044;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 800px;

  > h2 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 2rem 0 2rem;
    margin: 0;
    color: var(--invert);
  }
  
  > section.menuItems {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.menuCard {
  margin: 20px;
  min-width: 500px;
  width: 30%;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    filter: contrast(130%);
    width: auto !important;
    height: 100% !important;
  }

  > h3 {
    font-size: 1.8rem;
    color: var(--invert);
  }
  > p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 0;
    color: var(--invert);
  }

  > button.menuCardinCartButton {
    background-color:colors.$green;
    
    &:hover {
      background-color: colors.$greenDark;
    }
  }
  > button {
    font-size: 1rem;
    background-color: colors.$red;
    color: colors.$pink;
    border: none;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: colors.$redDark;
    }
  }
  
}

@media screen and (max-width: 700px) {
  .menuContainer{
    padding: 2rem;
    
    > section {
      flex-direction: column;
    }

    .menuCard {
      min-width: 100%;
      margin: 0rem 0;
      padding: 2rem 0 2rem 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .menuContainer{
    
    >h2{
      font-size: 1.5rem;
    }

    .menuCard {
      > h3 {
        font-size: 1.2rem;
      }
      > p {
        font-size: 14px;
      }
      >button{
        font-size: 14px;
      }
    }
  }
}


