@use "colors";

.tableClass {
  background-color: var(--secondary);
  width: 100%;
  height: 100vh;

  section {
    max-width: 900px;
    margin: auto;
    overflow-x: auto;
    padding: 2rem;
    
    > table {
      filter: drop-shadow(0px 0px 10px #0000001e);
      width: 100%;
      text-align: center;
      border-collapse: collapse;

      tr{
        &:last-child {
          td:first-child {
            border-radius: 0 0 0 10px;
          }
          td:last-child {
            border-radius: 0 0 10px 0;
          }
        }
      }

      tr:nth-child(even){
        background-color: var(--primary);

        :hover{
          background-color: var(--secondary);
        }
      }

      tr:nth-child(odd) {
        background-color: var(--secondary);

        :hover{
          background-color: var(--primary);
        }
      }

      td,th {
        padding: 1rem;
      }

      th {
        background-color: var(--primary);
        color: var(--invert);

        &:first-child {
          &:dir(ltr){
            border-radius: 10px 0 0 0;
          }
          &:dir(rtl){
            border-radius: 0 10px 0 0;
          }
        }

        &:last-child {
          &:dir(ltr){
            border-radius: 0 10px 0 0;
          }
          &:dir(rtl){
            border-radius: 10px 0 0 0;
          }
        }
      }

      td {
        color: var(--invert);

        > img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
        }

        > a {
          color: colors.$red;
        }
        
        > button {
          border: none;
          cursor: pointer;
          margin: 0.25rem;
          color: colors.$red;
        }
      }
    }
  }
}

@media screen and (max-width:700px) {
  .tableClass{
    font-size: 14px;
  }
}