@use "colors";

main.orderDetails {
  background-color: var(--secondary);
  width: 100%;
  padding: 40px;

  > section.orderDetailsContainer {
    position: relative;
    background-color: var(--primary);
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    overflow-x: auto;

    .printButton{
      color: var(--invert);
      font-size: 30px;
      position: absolute;
      right: 40px;

      :hover{
        color:colors.$red;
      }
    }

    > h1.orderDetailsTitle {
      text-transform: uppercase;
      text-align: center;
      font: 3rem "Roboto";
      margin: 3rem;
      color: var(--invert);
    }

    > div {
      margin: 2rem 0;
      text-align: center;

      > h2 {
        color: var(--invert);
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 5px;
      }

      > p {
        color: var(--invert);
        font-weight: 200;
        white-space: nowrap;
        letter-spacing: 2px;
        margin: 2rem;
        > b {
          margin-right: 5px;
        }
      }
    }

    > div.total {
      background-color: var(--secondary);
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 5px;
      color: var(--invert);

      > h4 {
        color: var(--invert);
        font-weight: 200;
        letter-spacing: 2px;
      }
    }

    > article {
      color: var(--invert);

      > h2 {
        color: var(--invert);
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 2rem 0;
      }

      > div {
        background-color: var(--secondary);
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 5px;
        > h4 {
          color: var(--invert);
          font-weight: 200;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  main.orderDetails{
    padding-left: 10px;
    padding-right: 10px;

    > section.orderDetailsContainer {
      padding: 2rem 1rem;
      
      > h1.orderDetailsTitle {
        font-size: 1.8rem;
        margin: 1rem 0rem 2rem 0rem;
      }
      > div {
        margin: 1rem 0;
        text-align: center;
        > h2 {
          font-size: 1.4rem;
          text-transform: uppercase;
          letter-spacing: 5px;
        }
      }
    }
  }
}


@media print {
  body{
    padding: 0;
    margin: 0;
  }
  nav{
    display: none;
  }
  .scrollFollow{
    display: none;
  }
  footer{
    display: none;
  }
  .orderDetails {
    padding: 0;

    > section {
      padding: 0;

      .printButton{
        display: none;
      }
      >h1{
        margin: 30px;
        font: 2rem "Roboto";
      }
      >div>h2{
        font-size: 1.2rem;
      }
      > div.total {
        padding: 0 10px;
      }
      > article{
        >div{
          padding: 0 10px;
        }
      }
      div,p,h2{
        margin: 10px !important;
      }
    }
  }
  br{
    display: none;
  }
}