@use "colors";

.orderDetails {
  background-color: colors.$pink;
  width: 100%;

  > section {
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    overflow-x: auto;

    > h1 {
      text-transform: uppercase;
      text-align: center;
      font: 100 3rem "Roboto";
      margin: 3rem;
    }

    > div {
      margin: 2rem 0;
      text-align: center;
      > h2 {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 5px;
      }

      > p {
        font-weight: 200;
        white-space: nowrap;
        letter-spacing: 2px;
        margin: 2rem;
        > b {
          margin-right: 5px;
        }
      }
    }

    > div.total {
      background-color: rgb(246, 246, 246);
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 5px;
      > h4 {
        font-weight: 200;
        letter-spacing: 2px;
      }
    }

    > article {
      > h2 {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 2rem 0;
      }

      > div {
        background-color: rgb(246, 246, 246);
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 5px;
        > h4 {
          font-weight: 200;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .orderDetails > section {
    > h1 {
      font-size: 1.8rem;
      margin: 1rem 0rem 2rem 0rem;
    }
    > div {
      margin: 1rem 0;
      text-align: center;
      > h2 {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}
