@use "colors";

.scrollFollow{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1100;
    width: 80px;
    height: 80px;
}
.scrollFollowIcon{
    position:absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    color:colors.$red;
    font-size: 25px;
}

.scrollFollowProgress{
    stroke-dashoffset: 0;
    stroke-width: 5;
    fill: none;
    width:100%;
    height:100%;
    stroke: colors.$redDark;
}
.scrollFollowProgressCircle{
    stroke-dashoffset: 0;
    stroke-width: 5;
    fill: none;
}