@import "colors";

.shipping {
  background-color: $pink;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  > section {
    background-color: white;
    width:clamp(300px,900px, 900px);
    
    > h1 {
      padding: 30px 40px;
      color: $red;
      background-color: $dark;
      text-transform: uppercase;
      text-align: center;
      font: 100 3rem "Roboto";
    }
    
    > form {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > label {
          white-space: nowrap;
        }
        > input,
        > select {
          width: 450px;
          padding: 0.5rem 1rem;
          outline: none;
          border: 1px solid rgba(0, 0, 0, 0.172);
          border-radius: 5px;
          margin: 1rem;
          font-size: 1rem;
        }
      }
      
    }
  }
}

@media screen and (max-width: 600px) {
  .shipping > main > form {
    > div {
      width: 100%;
      > input,
      > select {
        width: 100%;
      }
    }

    > button {
      width: 100%;
    }
  }
}
.link {
  margin: 40px 0px;
  display: inline-block;
  padding: 10px 20px;
  background-color: $redDark;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color:  $redDark;
  text-decoration: none;
}
