@use "colors";

main.shipping {
  background-color: var(--secondary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  > section.shippingContainer {
    filter: drop-shadow(0px 0px 10px #00000013);
    background-color: var(--primary);
    width:clamp(0px,900px, 900px);
    
    > h1.shippingTitle {
      padding: 30px 40px;
      color: colors.$red;
      background-color: var(--primary);
      border-bottom: 1px solid colors.$red;
      text-transform: uppercase;
      text-align: center;
      font: 100 3rem "Roboto";
    }
    
    > form {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > label {
          color: var(--invert);
          white-space: nowrap;
        }
        > input,
        > select {
          color: var(--invert);
          background-color: var(--secondary);
          width: 450px;
          padding: 0.5rem 1rem;
          outline: none;
          border: 1px solid var(--primary);
          border-radius: 5px;
          margin: 1rem;
          font-size: 1rem;
        }
      }
      >span{
        color: colors.$error;
      }
    }
  }
}

.link {
  margin: 40px 0px;
  display: inline-block;
  padding: 10px 20px;
  background-color: colors.$red;
  color: colors.$pink;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: colors.$redDark;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  main.shipping{
    padding: 30px;
    padding-left: 0;
    padding-right: 0;
    > section.shippingContainer {
      > h1.shippingTitle {
        padding: 30px 0;
        font: 100 2rem "Roboto";
      }
      > form {
        > div {
          width: 100%;
          > label {
            font-size: 14px;
          }
          > input,
          > select {
            font-size: 14px;
            width: 100%;
          }
        }
        >span{
          font-size: 14px;
        }

        > button {
          width: 100%;
          margin: 10px 0px;
        }
      }
    }
  }
}